.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.full-height {
    height: 100vh;
}

.students-box {
	width:100%;
	padding: 20px;
}

.students-box a {
    color: #5bc0de;
}

.students-box a, .students-box a:hover, .students-box a:focus {
    cursor: pointer;
}


.students-box-body {
	padding: 20px;
	border-top: 0;
	color: #666;
}

form li {
	list-style-type: none;
	padding-bottom: 15px;
}

input[type="text"], input[type="email"], input[type="password"], textarea { 
	border: 1px solid #ccc; border-radius: 3px; width: 50%; font-size: 14px;
}

input[type="text"], input[type="email"], input[type="password"] { height: 30px; line-height: 30px; padding: 0 2%; }

textarea { width: 96%; padding: 2%; }

label {width: 100%;}

input[type="submit"] { background: #4288CE; color: #fff; height: 40px; line-height: 40px; border: none; border-radius: 3px; padding: 0 20px; -webkit-transition: all 0.1s ease-in-out; -moz-transition: all 0.1s ease-in-out; -o-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out; }

input[type="submit"]:hover { background: #333; }

form.edit {
	display: inline-block;
	padding: 0;
	border: none;
	width: auto;
}

/*form.edit input[type="submit"] { 
	margin-left: 10px; 
	background: #4288CE; 
	display: inline-block; 
	height: auto; 
	padding: 0.2em; 
	line-height: 1.2em; 
}*/

form.edit input[type="submit"]:hover, form.delete input[type="submit"]:hover { 
	background: #999; 
}

label[name="tQuiz"], label[name="tUnit"], label[name="tTerm"] {
	font-weight: normal;
	width: auto;
}

.grade-field {width: 20% !important;}

input[type="submit"] { background: #4288CE; color: #fff; height: 40px; line-height: 40px; border: none; border-radius: 3px; padding: 0 20px; -webkit-transition: all 0.1s ease-in-out; -moz-transition: all 0.1s ease-in-out; -o-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out; }

.tbl-grade input[type="submit"] {
	height: 18px;
	line-height: 0px;
}

.delete input[type="submit"] { background: red; color: #fff; height: 18px; line-height: 0px; border: none; border-radius: 3px; padding: 0 20px; -webkit-transition: all 0.1s ease-in-out; -moz-transition: all 0.1s ease-in-out; -o-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out; }

#email, input[name="password"] {width: 100%;}

.register-box-body input {
	width: 100%;
}

.login-box {
	margin-top: 5%;
}

.login-box-body input {
	width: 100%;
}

/*Profile*/
.navbar .navbar-nav > li > a {
    height: 60px;
    line-height: 60px;
    padding: 0 10px 0 20px;
}

.profile .dropdown-toggle img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.caret {
	transition: .25s;
	transform: scale(1.001);
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.navbar .dropdown.profile .dropdown-menu {
    width: 250px;
    padding: 18px;
    padding-bottom: 18px;
}

.navbar .dropdown.profile .dropdown-menu li.profile-img {
    padding: 0;
    max-height: 300px;
    overflow: hidden;
}

.navbar .dropdown.profile .dropdown-menu li.profile-img img.profile-img {
    height: 60px;
    width: 60px;
    float: left;
    border-radius: 50%;
    margin-right: 10px;
}

.navbar .dropdown.profile .dropdown-menu .profile-body {
    padding-left: 10px;
}

.navbar .dropdown.profile .dropdown-menu h5, .navbar .dropdown.profile .dropdown-menu h6 {
    float: left;
}

.navbar .dropdown.profile .dropdown-menu h5 {
    float: left;
    margin-bottom: 5px;
    margin-top: 12px;
}

.navbar .dropdown.profile .dropdown-menu h6 {
    margin-top: 0;
    font-weight: 200;
    width: 115px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.dropdown-menu > li {
    padding: 0 5px;
    margin: 2px 0;
}

.navbar-nav .open .dropdown-menu > li > a {
    line-height: 20px;
    padding: 5px 15px 5px 25px;
}

.dropdown-menu > li > a {
    border-radius: 3px;
    background: none;
}
.dropdown-menu > li > a {
    display: block;
    padding: 10px 5px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #777;
    white-space: nowrap;
    text-align: left;
    transition: color .3s ease;
}

.unenroll-teacher {
    float: left;
    margin-right: 20px;
}

.profile:hover ul.dropdown-menu  {
    display: block;
    opacity: 100;
    visibility: visible;
}